ul {
    /*list-style-type: none*/
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: #0066ff;
    width: 100%;
}

li {
    float: left;
}

li {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

li a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

li a:hover {
    background-color: #33cc33;
}

.active {
    background-color: #660066;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

.header {
    position: relative;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 60px;
    width: 100%;
    padding: 2px;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  min-height: 30px;
  background-color: #0066ff;
  color: white;
  text-align: center;
}


/*.info {
    margin-top: 200px;
}*/